<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data.name %>></title> <!-- 學生的名字 -->
</head>
<body>
    <!-- 學生的資訊 把它做成一個表格  -->
    <table>
        <tr>
            <td>Student ID</td>
            <td><%= data.id %></td>
        </tr>
        <tr>
            <td>Fullname</td>
            <td><%= data.name %></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><%= data.age %></td>
        </tr>
        <tr>
            <td>Merit Scholarship</td>
            <td><%= data.scholarship.merit %></td>
        </tr>
        <tr>
            <td>Other Scholarship</td>
            <td><%= data.scholarship.other %></td>
        </tr>
        <tr>
            <td>Total Scholarship</td>
            <td><%= data.scholarship.merit + data.scholarship.other %></td>
        </tr>
    </table>
    <!-- 再回到這個頁面的連結  -->
    <a href="/students">Go back to students page.</a>

</body>
</html>

<!-- 再到 students.ejs 放一個連結  <a></a>  裡面每一個都導向 students id 是什麼  -->
<!-- http://localhost:3000/students/100 網址入入加進去的 id 就會跑出來 -->